html {
  font-size: 16px;
  font-family: helvetica;
}
header div.desktop {
  background-color: white;
  display: flex;
  width: 100%;
  height: 2rem;
  padding: 1rem 1.5rem;
  align-items: center;
}
header div.desktop span {
  display: flex;
  font-size: .75rem;
}
nav a {
  padding-left: 1rem;
}
nav {
  display: block;
  text-align: right;
}
span h1:last-child {
  color: gray;
  opacity: 0.5;
}
header div.mobile {
  display: none;
}
@media only screen and (max-width: 480px) {
  header div.mobile {
    display: block;
    background-color: white;
    display: flex;
    width: 100%;
    height: 2rem;
    padding: 1rem 0;
    align-items: center;
    justify-content: space-between;
  }
  header div.desktop {
    display: none;
  }
}
div.banner {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  width: 100%;
  align-items: center;
}
div.banner div#study {
  width: 60%;
  padding: 2rem 1.5rem;
}
div.banner div#study img {
 background-repeat: no-repeat;
 width: 100%;
}
div.banner div#text {
  display: block;
}
div#text h1{
  font-weight: bold;
  color: dimgray;
  font-size: 3rem;
  width: 70%;
}
div#text h2 {
  color: dimgray;
  font-size: 1.5rem;
  width: 70%;
}
div.banner button {
  background-color: dimgray;
  width: 68%;
}
div.banner button h3 {
  padding: 0.5rem 0;
  color: white;
  font-size: 1.5rem;
  font-weight: lighter;
}
div.articles {
  display: flex;
  flex-direction: row;
}
div.articles div.poster {
  width: 60%;
  padding: 2rem 1.5rem;
}
div.articles div.school div#a3 img {
  width: 75%;
  height: 80%;
}
div.articles div.school img {
  width: 35%;
  padding: 1rem;
  height: 35%;
}
div.articles div.poster img{
  width: 100%;
}
div.articles div.poster p {
  color: gray;
  font-size: 1.2rem;
}
.articles div.school {
  border-left: 1px solid gray;
  width: 40%;
  padding: 1rem 0;
}
.articles div.school div {
display: flex;
flex-direction: row;
}
.articles div.school div#content {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.articles div.school a {
  color: blue;
}
.articles div.school p {
  font-size: 1.2rem;
  color: gray;
  font-weight: lighter;
}
.articles div.school div#a3:last-child {
  background-color: pink;
}
div.learning {
  background-color: gray;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 2rem;
}
div.learning div#subjects {
  padding: 2rem 4.5rem;
}
div.learning div#row1{
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
}
div.learning div#row1 div{
  background-color: white;
  text-align: left;
  border: 1px solid pink;
  margin-right: 2rem;
  width: 33%;
}
div.learning div#row2{
display: flex;
flex-direction: row;
}
div.learning div#row2 div {
  background-color: white;
  text-align: left;
  margin-right: 2rem;
  width: 33%;
  height: auto;
}
div.learning div#subjects h2 {
  font-size: 1.7rem;
  padding-left: 1rem;
}
div.items{
  display: flex;
  flex-direction: row;
}
div.learning div#subjects h3 {
  color: dimgray;
  font-weight: lighter;
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-top: .5rem;
}
div.items div.stuff div:first-child{
  background-color: pink;
}
div.learning img {
  height: auto;
  width: 100%;
}
div.last div.stuff {
  width: 40%;
}
div.last div.stuff div {
  display: flex;
  flex-direction: row;
}
div.last div.stuff img{
  width: 35%;
  padding: 1rem;
  height: 35%;
}
div.last div.stuff h3 {
  font-size: 1.7rem;
}
div.last div.stuff h5 {
  color: gray;
  font-size: 1rem;
  font-weight: lighter;
}
div.last div.stuff div#content{
  display: block;
  width: 65%;
}
div.last h2{
  text-align: center;
  padding: 2rem 0;
  font-size: 2.5rem;
}
.last div#video{
  width: 60%;
  padding: 0 1.5rem 1.5rem 1.5rem;
  text-align: left;
}
div.last p{
  padding-bottom: 2rem;
  color: gray;
}
div.last h3 {
  padding-bottom: 0.5rem;
}
.last div#video video{
  width: 100%;
}
footer {
  border-top: 1px solid gray;
  width: 100%;
}
footer .right {
  float: right;
  padding-left: 1.5rem;
}
footer .left {
  float: left;
}
footer div {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: gray;
  font-size: 0.9rem;
}
